{% extends "invoice/invoice-base.html" %}
{% block title %}Invoices{% endblock %}
{% block content %}
{{ super() }}

<h3>
Invoice #{{ invoice.id }}{% if invoice.payment_ts %} (PAID){% endif %}
{% if user.is_admin %}
	<span class="pull-right btn-group">
		<a href="{{ url_for('.credit', invoice_id=invoice.id) }}" class="btn btn-danger">Mark Paid</a>
	</span>
{% endif %}
</h3>

<table class="table table-striped">
<tr>
	<th>Line Item #</th>
	<th>Description</th>
	<th>Amount (BTC)</th>
	<th>Amount (USD)</th>
</tr>
{% for item in invoice.items %}
<tr>
	<td>{{ item.id }}</td>
	<td>{{ item.description }}</td>
	<td>{{ item.bitcoin_cost() | strf("{0:.4f}") }} BTC</td>
	<td>${{ item.price | strf("{0:.2f}") }}</td>
</tr>
{% endfor %}
<tr>
	<td colspan="2"></td>
	<td><strong class="pull-right">Total (BTC):</strong></td>
	<td>{{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC</td>
</tr>
<tr>
	<td colspan="2"></td>
	<td><strong class="pull-right">Total (USD):</strong></td>
	<td>${{ invoice.total_due() | strf("{0:.2f}") }}</td>
</tr>
</table>

{% if not invoice.payment_ts %}
<!-- PayPal button -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="business" value="{{ config['PAYPAL_EMAIL'] }}">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="item_name" value="Invoice {{ invoice.id }} Payment ({{ invoice.user.username }})">
	<input type="hidden" name="amount" value="{{ invoice.total_due() | strf("{0:.2f}") }}">
	<input type="hidden" name="notify_url" value="https://manage.tortois.es/invoice/{{ invoice.id }}/ipn-post">
	<input type="hidden" name="currency_code" value="USD">
	<button type="submit" class="pull-right btn btn-large btn-primary">Pay in USD with PayPal</button>
</form>

<h4 style="clear: left;">
	{% set btc_adr = invoice.bitcoin_address() %}
	{% if btc_adr %}
		<img src="/static/invoice/bitcoin.png" alt="Bitcoin Address" style="float: left;">
		<div style="padding-top: 0.4em">Pay {{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC (beta) to: {{ invoice.bitcoin_address() }}</div>
	{% endif %}
</h4>
{% endif %}

{% endblock %}
