{% extends "invoice/invoice-base.html" %}
{% block title %}Invoices{% endblock %}
{% block headerbarcontent %}
Invoice #{{ invoice.id }}{% if invoice.payment_ts %} <span class="label label-success" style="font-size: 0.75em">Paid</span>{% endif %}
	<span class="pull-right">
		<a href="{{ url_for('.credit_invoice', invoice_id=invoice.id) }}" class="btn btn-primary">Apply Credit</a>
		<a href="{{ url_for('.view_pdf', invoice_id=invoice.id) }}" class="btn btn-info"><i class="icon-download"></i> Download (PDF)</a>
{% if invoice.is_finalized %}
		<a href="{{ url_for('.resend', invoice_id=invoice.id) }}" class="btn btn-warning"><i class="icon-envelope"></i> Resend</a>
{% endif %}
{% if user.is_admin %}
	{% if not invoice.is_finalized %}
		<a href="{{ url_for('.finalize', invoice_id=invoice.id) }}" class="btn btn-warning"><i class="icon-envelope"></i> Finalize and Send</a>
	{% endif %}
		<a href="{{ url_for('.credit', invoice_id=invoice.id) }}" class="btn btn-danger">Mark Paid</a>
		<a href="{{ url_for('.delete', invoice_id=invoice.id) }}" class="btn btn-inverse">Delete</a>
{% endif %}
	</span>
{% endblock %}
{% block component %}
{% if not invoice.is_finalized %}
<form action="{{ url_for('.lineitem_new', invoice_id=invoice.id) }}" method="POST">
{% include 'inc-token.html' %}
{% endif %}
<table class="table table-striped">
<tr>
	<th>Description</th>
{% if invoice.is_finalized %}
	<th>Amount (BTC)</th>
{% endif %}
	<th>Amount (USD)</th>
{% if not invoice.is_finalized %}
	<th></th>
{% endif %}
</tr>
{% for item in invoice.items %}
<tr>
	<td>{{ item.id }}. {{ item.description }}</td>
{% if invoice.is_finalized %}
	<td>{{ item.bitcoin_cost() | strf("{0:.4f}") }} BTC</td>
{% endif %}
	<td>${{ item.price | strf("{0:.2f}") }}</td>
{% if not invoice.is_finalized %}
	<td><a href="{{ url_for('.lineitem_delete', invoice_id=invoice.id, item_id=item.id) }}" class="btn btn-danger input-block-level"><i class="icon-minus"></i></a></td>
{% endif %}
</tr>
{% endfor %}
{% if not invoice.is_finalized %}
<tr>
	<td><input type="text" class="input-block-level" name="desc" placeholder="Item Description"></td>
	<td><input type="text" class="input-block-level" name="price" placeholder="Price"></td>
{% if not invoice.is_finalized %}
	<td><button type="submit" class="input-block-level btn btn-success"><i class="icon-plus"></i></button></td>
{% endif %}
</tr>
{% endif %}
{% if invoice.is_finalized %}
<tr>
	<td></td>
	<td><strong class="pull-right">Total (BTC):</strong></td>
	<td>{{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC</td>
</tr>
{% endif %}
<tr>
	<td></td>
	<td><strong class="pull-right">Total (USD):</strong></td>
	<td>${{ invoice.total_due() | strf("{0:.2f}") }}</td>
</tr>
</table>
{% if not invoice.is_finalized %}
</form>
{% endif %}

{% if invoice.is_finalized %}
{% if not invoice.payment_ts %}
<span class="pull-right">
	<a href="#paymentBox" data-toggle="modal" class="btn btn-large btn-primary"><i class="icon-usd"></i> Pay Invoice</a>
</span>
{% endif %}

<div class="modal hide" id="paymentBox">
<div class="modal-header">
	<h3>Choose a Payment Method</h3>
</div>
<div class="modal-body text-center">
<!-- PayPal button -->
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="business" value="{{ config['PAYPAL_EMAIL'] }}">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="item_name" value="Invoice {{ invoice.id }} Payment ({{ invoice.user.username }})">
	<input type="hidden" name="amount" value="{{ invoice.total_due() | strf("{0:.2f}") }}">
	<input type="hidden" name="notify_url" value="https://manage.tortois.es/invoice/{{ invoice.id }}/ipn-post">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="charset" value="utf-8">
	<input type="hidden" name="cpp_header_image" value="https://manage.tortois.es/branding/static/logo.png">
	<button type="submit" class="btn btn-large btn-primary">Pay with PayPal</button>
</form>

{% if config['STRIPE_PUBLIC_KEY'] %}
<hr>

<script src="https://checkout.stripe.com/checkout.js"></script>

<!-- Stripe payment -->
<form action="/invoice/{{ invoice.id }}/stripe_pay" method="POST" id="stripePayment">
  <input type="hidden" name="amount" value="{{ invoice.total_due() | strf("{0:.2f}") | replace(".", "") }}">  <!-- stripe wants to know the amount of cents, not dollars -->
  <!-- https://stripe.com/docs/checkout#integration-simple-options - we collect billing addresses -->
  <button id="stripeCheckoutButton" class="btn btn-large btn-success">Pay with Card (using Stripe)</button>
  <script>
    var handler = StripeCheckout.configure({
      key: "{{ config['STRIPE_PUBLIC_KEY'] }}",
      name: "{{ config['COMPANY_NAME'] }}",
      token: function(token, args) {
        var $form = $("#stripePayment");

        $form.append($('<input type="hidden" name="stripeToken" />').val(token.id));
        $form.get(0).submit();
      }
    });

    $("#stripeCheckoutButton").click(function(e) {
      handler.open({
        name: "{{ config['COMPANY_NAME'] }}",
        description: "Invoice {{ invoice.id }} Payment ({{ invoice.user.username }})",
        amount: {{ invoice.total_due() * 100 }},
        billingAddress: true,
        email: "{{ invoice.user.email }}",
        currency: "USD",
      });

      e.preventDefault();
    });
  </script>
</form>
{% endif %}

{% set btc_adr = invoice.bitcoin_address() %}
{% if btc_adr %}
<hr>

<img src="/static/invoice/bitcoin.png" alt="Bitcoin Address">
<div style="padding-top: 0.4em">
				Pay {{ invoice.total_btc_due() | strf("{0:.4f}") }} BTC to<br>
				{{ invoice.bitcoin_address() }}
</div>
</h4>

{% endif %}
</div>
</div>
{% endif %}

{% endblock %}
