{% extends "invoice/invoice-base.html" %}
{% block title %}Billing{% endblock %}
{% block content %}
{{ super() }}

{% if user %}
<div class="row-fluid">
<div class="span3 text-right">
	<h3 style="margin-bottom: 0">Service credit</h3>
	<h2 class="text-success" style="margin: 0;">${{ user.total_credit() | strf("{0:.2f}") }}</h2>
	<p>
		<a href="#" class="btn btn-success"><i class="icon-plus"></i> Add additional credit</a>
	</p>
</div>

<div class="span9" style="margin-top: 1em">

<table class="table table-striped">
<tr>
	<th>Transaction ID</th>
	<th>Description</th>
	<th>
		<span class="pull-right">Amount</span>
	</th>
</tr>
{% for credit in user.credits %}
<tr>
	<td>{{ credit.id }}</td>
	<td>{{ credit.description }}</td>
	<td>
		<span class="pull-right">${{ credit.amount | strf("{0:.2f}") }}</span>
	</td>
</tr>
{% endfor %}
</table>

</div>

</div>
{% endif %}

<div class="row-fluid">
<div class="span3 text-right">
	<h3>Invoice history</h3>
	<p>This is your invoice history.</p>
</div>

<div class="span9" style="margin-top: 1em">
<table class="table table-striped">
<tr>
	<th>Invoice ID</th>
	<th>User</th>
	<th>Status</th>
	<th>Amount</th>
	<th>
		<span class="pull-right">Options</span>
	</th>
</tr>
{% for invoice in invoices %}
<tr>
	<td><a href="{{ url_for('.view', invoice_id=invoice.id) }}">{{ invoice.id }}</a></td>
	{% if user and user.is_admin %}
	<td><a href="{{ url_for('profile.view_base', username=invoice.user.username) }}">{{ invoice.user.username }}</a></td>
	{% else %}
	<td>{{ invoice.user.username }}</td>
	{% endif %}
	<td>{{ "Paid" if invoice.payment_ts else "Unpaid" }}</td>
	<td>${{ invoice.total_due() | strf("{0:.2f}") }}</td>
	<td>
		<span class="pull-right">
			<a href="{{ url_for('.view', invoice_id=invoice.id) }}" class="btn btn-primary">View</a>
			{% if user.is_admin %}
				<a href="{{ url_for('.credit', invoice_id=invoice.id) }}" class="btn btn-danger">Mark Paid</a>
			{% endif %}
		</span>
	</td>
</tr>
{% endfor %}
</table>
</div>
</div>

{% endblock %}
