{% if not notifications and notifications != False %}
{% set notifications=True %}
{% endif %}
{% extends "base-empty.html" %}
{% block title %} Welcome {% endblock %}
{% block head %}
{{ super() }}
		<script src="/static/jquery.dataTables.min.js"></script>
		<script src="/static/bootstrap-datatables.js"></script>
		<script src="/static/jquery.flot.js"></script>
		<script src="/static/jquery.flot.time.js"></script>
		<script src="/static/jquery.flot.stack.js"></script>
		<script src="/static/sidebar.js"></script>
		{% if notifications %}
		<script src="/static/bootstrap-notify.js"></script>
		<script src="/static/notifications.js"></script>
		{% endif %}
{% endblock %}

{% block body %}

	<header class="header container-fluid">
		<div class="row-fluid alignfix">
			<div class="span3">
				<a href="/"><img src="/branding/static/tl-logo.png" alt="TortoiseLabs" id="logo"></a>
			</div>
			<div class="span9">
				<ul class="menu-list">
					{% block links %}
					{% endblock %}
				</ul>
				{% if user %}
				<span class="loginbox">
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
						<img class="loginavatar" src="{{ user.email | gravatar(42) }}">
						<b class="caret logincaret"></b>
					</a>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel" style="font-size: 80%;">
						<li><a href="#"><strong>{{ user.username }}</strong></a></li>
						<li class="divider"></li>
						<li><a href="{{ url_for('profile_index') }}">Profile</a></li>
						<li><a href="#">Account Sessions</a></li>
						<li class="divider"></li>
						<li><a href="{{ url_for('logout') }}">Log out</a></li>
					</ul>
				</div>
				</span>
				{% endif %}
			</div>
		</div>
	</header>

	<!-- modules sidebar -->
        <nav id="sidebar">
		{% block sidebar %}
		<ul class="nav nav-list">
		{% if user %}
		{% for navitem in nav.items() %}
			<li{% if section == navitem.title %} class="active"{% endif %}><a href="{{ url_for(navitem.endpoint) }}"><i class="bigicon {{ navitem.icon }}"></i>{{ navitem.title }}</a></li>
		{% endfor %}
		{% endif %}
		</ul>
		{% endblock %}
        </nav>

	{% block subnav %}{% endblock %}

	<section class="container-base container-fluid" id="{% block containertype %}container-base-type{% endblock %}">
		{% block content %}{% endblock %}
	</section>

	{% if notifications %}
	<div class="row-fluid">
		<div class='notifications top-right'></div>
		<div class='notifications bottom-right'></div>
		<div class='notifications top-left'></div>
		<div class='notifications bottom-left'></div>
	</div>
	{% endif %}

{% endblock body %}
