{% extends "base-scaffolding.html" %}
{% block title %}Service Status{% endblock %}

{% block head %}
{{ super() }}
	<link href="{{ url_for('.syndicate') }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
{% endblock %}

{% block links %}
	<li class="menu-item">
		<a href="{{ url_for('.syndicate') }}">Syndicate (Atom)</a>
	</li>
{% endblock %}

{% block content %}
<h2>
	Service Status
	<span class="btn-group pull-right">
		{% if user and user.is_admin %}
			<a href="{{ url_for('.new') }}" class="btn btn-success">New Incident</a>
		{% endif %}
		<a href="{{ url_for('.list') }}" class="btn">Incidents</a>
		<a href="http://monitor.tortois.es/smokeping/smokeping.cgi" class="btn">Latency Monitor</a>
	</span>
</h2>
{% endblock %}
