{% extends "status/incidentbase.html" %}
{% block title %}Service Status{% endblock %}

{% block content %}
{{ super() }}

<h3>Incidents</h3>

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Subject</th>
		<th>Creator</th>
		<th>Status</th>
		<th>
			<span class="pull-right">Options</span>
		</th>
	</tr>
	{% for incident in incidents %}
	<tr>
		<td class="span1">{{ incident.id }}</td>
		<td class="span7">{{ incident.subject }}</td>
		<td class="span1">{{ incident.user.username }}</td>
		<td class="span1">{{ "Closed" if incident.closed_at != None else "Open" }}</td>
		<td class="span2">
			<div class="btn-group pull-right">
				<a href="{{ url_for('.view', incident_id=incident.id) }}" class="btn btn-primary">View</a>
				{% if user.is_admin %}
					<a href="{{ url_for('.close', incident_id=incident.id) }}" class="btn">Close</a>
				{% endif %}
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
