{% extends "profile/base.html" %}
{% block title %}{{ subject.username }} - Accounts{% endblock %}

{% block headerbarcontent %}
	<img class="gravatar" src="{{ subject.email | gravatar(40) }}" alt="{{ user.username }}'s gravatar">
	{{ subject.username }}
	<span class="pull-right">
		{% block headerbarbuttons %}
		{% if user.has_permission('account:sendmsg') %}
		<a href="{{ url_for("support.message", username=subject.username) }}" class="btn btn-success"><i class="icon-envelope"></i> Message</a>
		{% endif %}
		{% if user.has_permission('invoice:create') %}
		<a href="{{ url_for(".new_invoice", username=subject.username) }}" class="btn btn-warning"><i class="icon-usd"></i> New Invoice</a>
		{% endif %}
		{% endblock %}
	</span>
{% endblock %}

{% block component %}
<ul class="nav nav-tabs">
	<li{{ ' class="active"'|safe if subtitle == 'Account' else '' }}><a href="{{ url_for('.view_base', username=user.username) }}">Account</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Invoices' else '' }}><a href="{{ url_for('.view_invoices', username=user.username) }}">Invoices</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Services' else '' }}><a href="{{ url_for('.view_services', username=user.username) }}">Services</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Tickets' else '' }}><a href="{{ url_for('.view_tickets', username=user.username) }}">Tickets</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Credits' else '' }}><a href="{{ url_for('.view_credits', username=user.username) }}">Credits</a></li>
	{% if user.is_admin %}
	<li{{ ' class="active"'|safe if subtitle == 'Permissions' else '' }}><a href="#">Permissions</a></li>
	{% endif %}
</ul>

{{ self.subcomponent() }}
{% endblock %}
