{% extends "profile/base.html" %}

{% block content %}
{{ super() }}

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Username</th>
		<th>E-Mail</th>
		<th>
			<span class="pull-right">Options</span>
		</th>
	</tr>
	{% for user in users %}
	<tr>
		<td class="span1">{{ user.id }}</td>
		<td class="span8">{{ user.username }}</td>
		<td class="span1">{{ user.email }}</td>
		<td class="span2">
			<div class="btn-group pull-right">
				<a href="{{ url_for('.view_base', username=user.username) }}" class="btn btn-primary">View</a>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
