{% extends "vps/base.html" %}
{% block title %}Server List{% endblock %}

{% block content %}
{{ super() }}

<table class="table table-striped">
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span1">Host</th>
	<th class="span3">Location</th>
	<th class="span2">
		<span class="pull-right">Options</span>
	</th>
</tr>

{% for service in user.services %}
{% if service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.disk }} GB</td>
	<td>&mdash;</td>
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
	<td>
		<span class="pull-right btn-group">
			<a href="#" class="btn btn-primary">View</a>
		</span>
	</td>
</tr>
{% endif %}     
{% endfor %}

</table>

{% endblock %}
