{% extends "vps/view-base.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}
{% set subtitle='Expiry' %}

{% block subcontent %}

<h3>Expiry</h3>

<p>This VPS will expire at {{ service.expiry | strftime('%m/%d/%Y') }}.  You will be automatically invoiced ${{ service.price | strf("{0:.2f}") }} a week before the expiration date to allow you to renew this service.</p>

<p>If you do not wish to keep the VPS, you may delete it by selecting <strong>Delete</strong> from the options above.</p>

{% endblock %}
