{% extends "vps/base.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block content %}
{{ super() }}

<h3>
	{{ service.name }}
	<span class="pull-right btn-group">
		<a href="{{ url_for('.create', vps=service.id) }}" class="btn">Start</a>
		<a href="{{ url_for('.shutdown', vps=service.id) }}"" class="btn">Shutdown</a>
		<a href="{{ url_for('.destroy', vps=service.id) }}"" class="btn">Forceful Shutdown</a>
		<a href="{{ url_for('.powercycle', vps=service.id) }}"" class="btn">Powercycle</a>
	</span>
</h3>

<table class="table table-striped">
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Swap</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span2">Host</th>
	<th class="span3">Location</th>
</tr>

{% if service.is_entitled and service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.swap }} MB</td>
	<td>{{ service.disk }} GB</td>
	<td>{{ service.ips[0].ip }}</td>
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
</tr>
{% endif %}     

</table>

{% endblock %}
