{% extends "base-empty.html" %}
{% block title %}{{ service.name }} - Console{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
	html, body {
		background-color: rgb(38, 38, 38);
	}
</style>
{% endblock %}

{% block base %}
<body class="container-fluid" style="padding: 0;">
	<header class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<span class="brand">{{ service.name }} (console)</span>
			<ul class="nav pull-right">
				<li>
					<a href="{{ url_for('.console', vps=service.id) }}">
						<i class="icon-refresh icon-white"></i> Reconnect
					</a>
				</li>
			</ul>
		</div>
	</header>
	<iframe src="{{ url_for('.console_real', vps=service.id) }}" style="width: 100%; height: 30em; border: none;"></iframe>
</div>
{% endblock %}
