{% extends "vps/base.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block content %}
{{ super() }}

<h3>
	{{ service.name }}
	<span class="pull-right btn-group">
		<a href="{{ url_for('.create', vps=service.id) }}" class="btn">Start</a>
		<a href="{{ url_for('.shutdown', vps=service.id) }}" class="btn">Shutdown</a>
		<a href="{{ url_for('.destroy', vps=service.id) }}" class="btn">Forceful Shutdown</a>
		<a href="{{ url_for('.powercycle', vps=service.id) }}" class="btn">Powercycle</a>
	</span>
</h3>

<table class="table table-striped">
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Swap</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span2">Host</th>
	<th class="span3">Location</th>
</tr>

{% if service.is_entitled and service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.swap }} MB</td>
	<td>{{ service.disk }} GB</td>
	<td>{{ service.ips[0].ip }}</td>
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
</tr>
{% endif %}     

</table>

<h3>
	Graphs
	<span class="pull-right btn-group">
		<button id="cpugraphbtn" class="btn">CPU</button>
		<button id="netgraphbtn" class="btn">Network</button>
		<button id="vbdgraphbtn" class="btn">VBD (Block)</button>
	</span>
</h3>

<div id="placeholder" style="width: 100%; height: 300px"></div>

<script type="text/javascript">
$(function() {
    function cpu_data_received(newdata) {
        var placeholder = $("#placeholder");
        var options = {
            lines: { show: true, fill: true },
    	    points: { show: false },
   	    grid: { show: true, borderColor: null, borderWidth: 0 },
	    xaxis: { mode: "time", timeformat: "%H:%M", timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)" }
        }

        $.plot(placeholder, [newdata], options);
    }

    function net_data_received(newdata) {
        var placeholder = $("#placeholder");
        var options = {
            series: { stack: true },
            legend: { show: true },
            lines: { show: true, fill: true, stack: true },
    	    points: { show: false },
   	    grid: { show: true, borderColor: null, borderWidth: 0 },
	    xaxis: { mode: "time", timeformat: "%H:%M", timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)" }
        }

        $.plot(placeholder, newdata, options);
    }

    $.ajax({
        url: '/vps/{{ service.id }}/cpustats',
        type: 'GET',
        dataType: 'json',
        success: cpu_data_received
    });

    $("#cpugraphbtn").click(function() {
        $.ajax({
            url: '/vps/{{ service.id }}/cpustats',
            type: 'GET',
            dataType: 'json',
            success: cpu_data_received
        });
    });

    $("#netgraphbtn").click(function() {
        $.ajax({
            url: '/vps/{{ service.id }}/netstats',
            type: 'GET',
            dataType: 'json',
            success: net_data_received
        });
    });

    $("#vbdgraphbtn").click(function() {
        $.ajax({
            url: '/vps/{{ service.id }}/vbdstats',
            type: 'GET',
            dataType: 'json',
            success: net_data_received
        });
    });
});
</script>

{% endblock %}
