{% extends "vps/view-hdr.html" %}
{% set subtitle='HVM' %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block component %}

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>
		VNC Credentials
	</h3>
	<p>
		You may connect to your VNC console using the web client, or any VNC client of your choice.
	</p>
	<a href="{{ url_for('.console', vps=service.id) }}" class="launchconsole btn btn-primary"><i class="icon-terminal"></i> Console</a>
</div>

<div class="span8" style="margin-top: 1.5em">

<div class="row-fluid">
	<div class="span3"><strong>Host:</strong></div>
	<div class="span9">{{ service.node.ipaddr }} ({{ service.node.name }})</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>Port:</strong></div>
	<div class="span9">{{ 5900 + service.id }}</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>Password:</strong></div>
	<div class="span9">{{ service.name }}</div>
</div>

<div class="row-fluid">
	<div class="span3"><strong>TLS (VeNCrypt support):</strong></div>
	<div class="span9">Enabled</div>
</div>

</div>

</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>Boot ISO</h3>

	<p>You may select a boot ISO from the list of ISO images below.  These images are used to install an OS on your server or
	   to perform recovery tasks.</p>

	<p>Additionally, you may add ISOs to your ISO library for private use on your virtual machines.</p>

	<a href="#" class="btn btn-success"><i class="icon-plus"></i> Add new ISO</a>
</div>

<div class="span9" style="margin-top: 1.5em">

<form method="POST" action="{{ url_for('.hvmisoset', vps=service.id) }}">
{% for iso in isolist %}
<div class="row-fluid pushdown">
	<div class="span10">
		<label class="radio">
			<input type="radio" name="isoid" value="{{ iso.id }}"{% if iso.id == service.hvmiso_id %} checked="checked"{% endif %}>
			{{ iso.name }}
		</label>
	</div>
	{% if not iso.public %}
	<div class="span2 text-right">
		<a href="{{ url_for('.hvmiso_delete', vps=service.id, isoid=iso.id) }}" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
	</div>
	{% endif %}
</div>
{% endfor %}
<div class="row-fluid">
	<div class="span12">
		<button type="submit" class="btn btn-primary">Select Boot ISO</button>
	</div>
</div>

</form>

</div>

</div>

<div class="row-fluid row-equalize pushdown">

<div class="span3 text-right">
	<h3>Boot Order</h3>

	<p>You may select whether or not you will boot from an ISO image or your disk image.  This may be useful
	   for recovery tasks or installing a new operating system.</p>
</div>

<div class="span9" style="margin-top: 1.5em">

<form method="POST" action="{{ url_for('.hvmbootorder', vps=service.id) }}">
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="cd" {% if service.hvm_bootorder == "cd" %}checked{% endif %}>
			Disk image, then ISO image.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="dc" {% if service.hvm_bootorder == "dc" %}checked{% endif %}>
			ISO image, then disk image.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="c" {% if service.hvm_bootorder == "c" %}checked{% endif %}>
			Disk image only.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<label class="radio">
			<input type="radio" name="bootorder" value="d" {% if service.hvm_bootorder == "d" %}checked{% endif %}>
			ISO image only.
		</label>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<button type="submit" class="btn btn-primary">Select Boot Order</button>
	</div>
</div>
</form>

</div>

</div>

{% endblock %}
