{% extends "vps/base.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block content %}
{{ super() }}

<div id="admDelete" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<li><a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>If you continue, your VPS will be permanently deleted.  We will not have any way to recover the data!</p>
	</div>
	<div class="modal-footer">
		<li><a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<a href="{{ url_for('.adm_delete', vps=service.id) }}" class="btn btn-danger">Delete</a>
	</div>
</div>

<h3>
	{{ service.name }}
	<span class="pull-right btn-group">
		<a href="{{ url_for('.create', vps=service.id) }}" class="btn">Start</a>
		<a href="{{ url_for('.shutdown', vps=service.id) }}" class="btn">Shutdown</a>
		<a href="{{ url_for('.destroy', vps=service.id) }}" class="btn">Forceful Shutdown</a>
		<a href="{{ url_for('.powercycle', vps=service.id) }}" class="btn">Powercycle</a>
		<a href="#admDelete" role="button" data-toggle="modal" class="btn btn-warning">Delete</a>
	</span>
</h3>

<table class="table table-striped">
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Swap</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span2">Host</th>
	<th class="span3">Location</th>
</tr>

{% if service.is_entitled and service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.swap }} MB</td>
	<td>{{ service.disk }} GB</td>
	<td>{{ service.ips[0].ip }}</td>
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
</tr>
{% endif %}     

</table>

<ul class="nav nav-tabs">
	<li{{ ' class="active"'|safe if subtitle == 'Graphs' else '' }}><a href="{{ url_for('.view', vps=service.id) }}">Graphs</a></li>
	{% if user.is_admin %}
		<li{{ ' class="active"'|safe if subtitle == 'Admin Settings' else '' }}><a href="{{ url_for('.staff_toolbox', vps=service.id) }}">Admin</a></li>
	{% endif %}
	<li{{ ' class="active"'|safe if subtitle == 'Deploy' else '' }}><a href="{{ url_for('.deploy', vps=service.id) }}">Deploy</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Clone' else '' }}><a href="{{ url_for('.clone', vps=service.id) }}">Clone</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Jobs' else '' }}><a href="{{ url_for('.jobs', vps=service.id) }}">Jobs</a></li>
	<li{{ ' class="active"'|safe if subtitle == 'Expiry' else '' }}><a href="{{ url_for('.expiry', vps=service.id) }}">Expiry</a></li>
</ul>

{% block subcontent %}
{% endblock %}

{% endblock %}
