{% extends "vps/base.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}

{% block content %}
{{ super() }}

<div id="admDelete" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<li><a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>If you continue, your VPS will be permanently deleted.  We will not have any way to recover the data!</p>
	</div>
	<div class="modal-footer">
		<li><a href="#"  class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<a href="{{ url_for('.adm_delete', vps=service.id) }}" class="btn btn-danger">Delete</a>
	</div>
</div>

<h3>
	{{ service.name }}
	<span class="pull-right btn-group">
		<a href="{{ url_for('.create', vps=service.id) }}" class="btn">Start</a>
		<a href="{{ url_for('.shutdown', vps=service.id) }}" class="btn">Shutdown</a>
		<a href="{{ url_for('.destroy', vps=service.id) }}" class="btn">Forceful Shutdown</a>
		<a href="{{ url_for('.powercycle', vps=service.id) }}" class="btn">Powercycle</a>
		<a href="#admDelete" role="button" data-toggle="modal" class="btn btn-warning">Delete</a>
	</span>
</h3>

<table class="table table-striped">
<tr>
	<th class="span2">VPS</th>
	<th class="span1">Memory</th>
	<th class="span1">Swap</th>
	<th class="span1">Disk</th>
	<th class="span2">Primary IP</th>
	<th class="span2">Host</th>
	<th class="span3">Location</th>
</tr>

{% if service.is_entitled and service.type == 'xenvps' %}
<tr>
	<td>{{ service.name }}</td>
	<td>{{ service.memory }} MB</td>
	<td>{{ service.swap }} MB</td>
	<td>{{ service.disk }} GB</td>
	<td>{{ service.ips[0].ip }}</td>
	<td>{{ service.node.name }}</td>
	<td>{{ service.node.region.name }}</td>
</tr>
{% endif %}     

</table>

<h3>
	Graphs
</h3>

<div class="row">
<div class="span6">
<ul class="nav nav-pills">
	<li class="active"><a href="#" id="hourlybtn">Hourly</a></li>
	<li><a href="#" id="dailybtn">Daily</a></li>
	<li><a href="#" id="weeklybtn">Weekly</a></li>
	<!-- <li><a href="#" id="monthlybtn">Monthly</a></li> -->
</div>
<div class="span6">
<span class="pull-right">
<ul class="nav nav-pills">
	<li class="active"><a href="#" id="cpugraphbtn">CPU</a>
	<li><a href="#" id="netgraphbtn">Network</a>
	<li><a href="#" id="vbdgraphbtn">VBD (Block)</a>
</ul>
</span>
</div>
</div>

<div id="placeholder" style="width: 100%; height: 300px"></div>

<script type="text/javascript">
$(function() {
    var __tmf = "%H:%M";
    var __start = 0;
    var __step = 0;
    var __baseuri = "";
    var __callback = null;

    function cpu_data_received(newdata, tmf) {
        var placeholder = $("#placeholder");
        var options = {
            lines: { show: true, fill: true },
    	    points: { show: false },
   	    grid: { show: true, borderColor: null, borderWidth: 0 },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)", tickFormatter: function(num, obj) { return num.toFixed(2) + "%"; } }
        }

        $.plot(placeholder, [newdata], options);
    }

    function net_data_received(newdata, tmf) {
        var placeholder = $("#placeholder");
        var options = {
            series: { stack: true },
            legend: { show: true },
            lines: { show: true, fill: true, stack: true },
    	    points: { show: false },
   	    grid: { show: true, borderColor: null, borderWidth: 0 },
	    xaxis: { mode: "time", timeformat: tmf, timezone: "browser" },
            yaxis: { min: 0, label: "CPU usage (%)", tickFormatter: function(num, obj) {
                    if (num <= 1) { return num.toFixed(2); }
                    var suffix = ['', 'K', 'M', 'G'];
                    var i = parseInt(Math.floor(Math.log(num) / Math.log(1000)));
                    num /= Math.pow(1024, i);
                    return num.toFixed(2) + suffix[i];
                }
            }
        }

        $.plot(placeholder, newdata, options);
    }

    function set_period(start, step) {
        __start = start;
        __step = step;
        if (start >= (86400 * 5)) {
            __tmf = "%b %d";
        } else if (start > 3600) { 
            __tmf = "%m/%d/%y %H:%M";
        } else {
            __tmf = "%H:%M";
        }
    }

    function set_topic(topic) {
        __baseuri = '/vps/{{ service.id }}/' + topic + '/';
    }

    function get_uri() {
        return __baseuri + __start + '/' + __step;
    }

    function set_callback(callback) {
        __callback = callback;
    }

    function update() {
        $.ajax({
            url: get_uri(),
            type: 'GET',
            dataType: 'json',
            success: function(d) { __callback(d, __tmf); }
        });
    };

    $("#hourlybtn").click(function(event) {
        event.preventDefault();

        $("#hourlybtn").parent().addClass("active");
        $("#dailybtn").parent().removeClass("active");
        $("#weeklybtn").parent().removeClass("active");
        $("#monthlybtn").parent().removeClass("active");

        set_period(3600, 60);
        update();
    });

    $("#dailybtn").click(function(event) {
        event.preventDefault();

        $("#hourlybtn").parent().removeClass("active");
        $("#dailybtn").parent().addClass("active");
        $("#weeklybtn").parent().removeClass("active");
        $("#monthlybtn").parent().removeClass("active");

        set_period(86400, 1440);
        update();
    });

    $("#weeklybtn").click(function(event) {
        event.preventDefault();

        $("#hourlybtn").parent().removeClass("active");
        $("#dailybtn").parent().removeClass("active");
        $("#weeklybtn").parent().addClass("active");
        $("#monthlybtn").parent().removeClass("active");

        set_period(86400 * 7, 1440);
        update();
    });

    $("#monthlybtn").click(function(event) {
        event.preventDefault();

        $("#hourlybtn").parent().removeClass("active");
        $("#dailybtn").parent().removeClass("active");
        $("#weeklybtn").parent().removeClass("active");
        $("#monthlybtn").parent().addClass("active");

        set_period(86400 * 30, 1440);
        update();
    });

    $("#cpugraphbtn").click(function(event) {
        event.preventDefault();

        $("#cpugraphbtn").parent().addClass("active");
        $("#netgraphbtn").parent().removeClass("active");
        $("#vbdgraphbtn").parent().removeClass("active");

        set_topic("cpustats");
        set_callback(cpu_data_received);
        update();
    });

    $("#netgraphbtn").click(function(event) {
        event.preventDefault();

        $("#cpugraphbtn").parent().removeClass("active");
        $("#netgraphbtn").parent().addClass("active");
        $("#vbdgraphbtn").parent().removeClass("active");

        set_topic("netstats");
        set_callback(net_data_received);
        update();
    });

    $("#vbdgraphbtn").click(function(event) {
        event.preventDefault();

        $("#cpugraphbtn").parent().removeClass("active");
        $("#netgraphbtn").parent().removeClass("active");
        $("#vbdgraphbtn").parent().addClass("active");

        set_topic("vbdstats");
        set_callback(net_data_received);
        update();
    });

    set_topic("cpustats");
    set_period(3600, 60);
    set_callback(cpu_data_received);
    update();
});
</script>

{% endblock %}
