{% extends "vps/view-hdr.html" %}
{% block title %}{{ service.name }} - Servers{% endblock %}
{% set subtitle='IP Admin' %}
{% set submoduledesc='IP Management' %}

{% block component %}

{% for ipaddr in service.ips %}
<div id="adm-rdns-{{ ipaddr.id }}" class="modal hide" tabindex="-1" role="dialog">
        <div class="modal-header">
                <a href="#"  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h3>Reverse DNS &mdash; {{ ipaddr.ip }}</h3>
        </div>
	{% if not ipaddr.ipnet.rdns_zone %}
	<div class="modal-body">
		This operation is not supported for this IP network, please contact support to have it
		set manually.
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	</div>
	{% else %}
	<form method="POST" class="form-horizontal" action="{{ url_for('.adm_modify_ip_rdns', vps=service.id, ip=ipaddr.id) }}">
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="rdns">rDNS</label>
			<div class="controls">
				<input type="text" id="rdns" name="rdns" class="input-block-level" value="{{ ipaddr.lookup_rdns() }}">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Modify</button>
		<a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	</div>
	</form>
	{% endif %}
</div>
{% endfor %}

<table class="table table-striped">
<tr>
<th>IP Address</th>
<th>IP Version</th>
<th>Network</th>
<th>Gateway</th>
<th>Broadcast</th>
<th>Netmask</th>
<th>rDNS</th>
<th>
	<span class="pull-right">Options</span>
</th>
</tr>
{% for ipaddr in service.ips %}
<tr>
	<td>{{ ipaddr.ip }}</td>
	<td>IPv{{ ipaddr.ipnet.ipnet().version }}</td>
	<td>{{ ipaddr.ipnet.ipnet().network_address }} / {{ ipaddr.ipnet.ipnet().prefixlen }}</td>
	<td>{{ ipaddr.ipnet.gateway() }}</td>
	{% if ipaddr.ipnet.ipnet().version == 4 %}
		<td>{{ ipaddr.ipnet.broadcast() }}</td>
		<td>{{ ipaddr.ipnet.ipnet().netmask }}</td>
	{% else %}
		<td>&mdash;</td>
		<td>&mdash;</td>
	{% endif %}
	<td>{{ ipaddr.lookup_rdns() }}</td>
	<td>
		<span class="pull-right">
			<a href="#adm-rdns-{{ ipaddr.id }}" class="btn btn-primary" data-toggle="modal"><i class="icon-pencil"></i> rDNS</a>
			<a href="{{ url_for('.adm_del_ip', vps=service.id, ip=ipaddr.id) }}" class="btn btn-danger"><i class="icon-trash"></i> Delete</a>
		</span>
	</td>
</tr>
{% endfor %}
</table>

<h4>Add Additional IP</h4>

<p>You may add <strong>{{ service.ipv4_quota() }}</strong> additional IPv4 addresses to this service.</p>

<p>You may add <strong>{{ service.ipv6_quota() }}</strong> additional IPv6 addresses to this service.</p>

<form method="POST" action="{{ url_for('.adm_add_ip', vps=service.id) }}">
<select name="ipbox">
{% for iprange in service.node.ipranges %}
{% for host in iprange.available_ips() %}
{% if not iprange.is_ipv6() and service.ipv4_quota() > 0 %}
	<option value="{{ iprange.id }}!{{ host }}">{{ host }}</option>
{% endif %}
{% if iprange.is_ipv6() and service.ipv6_quota() > 0 %}
	<option value="{{ iprange.id }}!{{ host }}">{{ host }}</option>
{% endif %}
{% endfor %}
{% endfor %}
</select><br>
<button type="submit" class="btn btn-primary">Add</button>
</form>

{% endblock %}
