.header {
	background-color: #333;
	padding-top: 14px;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
	color: #999;
	height: 75px;
	clear: both;
}

.header .span3, .header .span9 {
	min-height: 70px;
}

h1, h2, h3, h4 {
	font-family: 'Signika Negative', sans-serif;
}

h1 .btn, h2 .btn, h3 .btn {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.menu-list {
	float: right;
	margin-right: 2em;
	height: 100%;
	min-height: 70px;
}

.loginbox {
	float: right;
	margin-top: 0.75em;
	margin-right: -1em;
}

.logintext {
	text-align: right;
	float: left;
	margin-right: 0.5em;
}

.loginavatar {
	border-radius: 5px;
	float: right;
}

.menu-item {
	display: block;
	float: left;
	padding: 0;
	padding-right: 1em;
	line-height: 60px;
	vertical-align: middle;
	height: 100%;
	min-height: 75px;
}

.gravatar {
	border-radius: 5px;
	box-shadow: 0.5px 0.5px #999;
}

.table tr td {
	vertical-align: middle;
}

.ticket-reply-source {
	text-align: right;
}

.ticket-reply-textarea {
	height: 7em;
}

.ticket-row {
	margin-bottom: 1em;
}

#logo {
	margin-top: -0.5em;
}

.pushdown {
	padding-bottom: 1em;
}

.alert {
	margin: 0;
}

.alignfix {
	margin-left: -0.531915%;
}

#sidebar {
	position: fixed;
	height: 100% !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: #eee;
	border-right: 1px #999 solid;
	width: 20em;
}

#sidebar > ul {
	margin-top: 95px;
	height: 100% !important;
	overflow-y: auto;
}

#container-base {
	margin-top: 95px;
	margin-left: 20em;
	width: auto;
}

.contentfix {
	margin-top: 1em;
	clear: left;
}

.service-hdr {
	border-bottom: 1px #ccc solid;
}

.specification {
	font-size: 17.5px;
	color: #888;
}

.minigraph {
	height: 16em;
}

.btn-group .btn, .btn,
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
}

.btn, .btn-danger, .btn-warning, .btn-primary, .btn-success {
	background-image: none;
}
