<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock title %} - TortoiseLabs Manager</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		{% endblock head %}
	</head>

	<body>
		{% block body %}
		<div class="page-content-wrapper">
			{% block content %}{% endblock content %}
		</div>
		{% endblock body %}
	</body>
</html>
