<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock title %} - TortoiseLabs Manager</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
		<script src="/static/bootstrap-notify.js"></script>
		<script src="/static/jquery.dataTables.min.js"></script>
		<script src="/static/jquery.flot.js"></script>
		<script src="/static/jquery.flot.time.js"></script>
		<script src="/static/jquery.flot.stack.js"></script>
		<script src="/static/sidebar.js"></script>
		<script src="/static/notifications.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/static/bootstrap-notify.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Signika+Negative:400,700' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
		{% endblock head %}
	</head>

	{% block base %}
	<body class="container-fluid">
		{% block body %}
		{% block content %}{% endblock content %}
		{% endblock body %}
	</body>
	{% endblock base %}
</html>
