{% extends "base-empty.html" %}
{% block title %} Welcome {% endblock %}

{% block body %}

	<header class="header container-fluid">
		<div class="row-fluid alignfix">
			<div class="span3">
				<a href="/"><img src="/static/tl-logo.png" alt="TortoiseLabs" id="logo"></a>
			</div>
			<div class="span9">
				<ul class="menu-list">
					{% block links %}
					{% endblock %}
				</ul>
				<span class="loginbox">
					{% if user %}
					<div class="logintext">
						<strong>{{ user.username }}</strong><br>
						<a href="{{ url_for('logout') }}">Logout</a>
					</div>
					<img class="loginavatar" src="{{ user.email | gravatar(42) }}">
					{% else %}
					<a href="{{ url_for('login') }}">Login</a>
					{% endif %}
				</span>
			</div>
		</div>
	</header>

	<div class="container-fluid" id="container-base">
    <div class="row-fluid">
        <div class="span2" id="sidebar">
		{% block sidebar %}
		<ul class="nav nav-list">
		{% if user %}
		<li><a href="{{ url_for('dns.list') }}">DNS</a>{% block dnssidebar %}{% endblock %}</li>
		<li><a href="{{ url_for('vps.list') }}">Servers</a>{% block serversidebar %}{% endblock %}</li>
		<li><a href="{{ url_for('support.list') }}">Support</a>{% block supportsidebar %}{% endblock %}</li>
		<li><a href="{{ url_for('profile_index') }}">Preferences</a></li>
		<li><a href="{{ url_for('invoice.index') }}">Invoices</a>{% block invoicesidebar %}{% endblock %}</li>
		{% if user.is_admin %}
		<li><a href="{{ url_for('profile.list') }}"><i class="icon-lock"></i> Accounting</a>{% block accountingsidebar %}{% endblock accountingsidebar %}</li>
		{% endif %}
		{% endif %}
		</ul>
		{% endblock %}
        </div>

	<div class="span10 contentfix">
	{% block content %}{% endblock %}
	</div>
    </div>

	<div class="row-fluid">
          <div class='notifications top-right'></div>
          <div class='notifications bottom-right'></div>
          <div class='notifications top-left'></div>
          <div class='notifications bottom-left'></div>
	</div>

	</div>

{% endblock body %}
