{% extends "base-empty.html" %}
{% block title %} Welcome {% endblock %}

{% block body %}

	<header class="header container-fluid">
		<div class="row-fluid alignfix">
			<div class="span3">
				<a href="/"><img src="/static/tl-logo.png" alt="TortoiseLabs" id="logo"></a>
			</div>
			<div class="span9">
				<ul class="menu-list">
					{% block links %}
					{% endblock %}
				</ul>
				<span class="loginbox">
					{% if user %}
					<div class="logintext">
						<strong>{{ user.username }}</strong><br>
						<a href="{{ url_for('logout') }}">Logout</a>
					</div>
					<img class="loginavatar" src="{{ user.email | gravatar(42) }}">
					{% else %}
					<a href="{{ url_for('login') }}">Login</a>
					{% endif %}
				</span>
			</div>
		</div>
	</header>

        <nav id="sidebar">
		{% block sidebar %}
		<ul class="nav nav-list">
		{% if user %}
		<li{% if section == 'dns' %} class="active"{% endif %}><a href="{{ url_for('dns.list') }}"><i class="bigicon icon-globe"></i>DNS</a></li>
		<li{% if section == 'vps' %} class="active"{% endif %}><a href="{{ url_for('vps.list') }}"><i class="bigicon icon-cloud"></i>vServers</a></li>
		<li{% if section == 'support' %} class="active"{% endif %}><a href="{{ url_for('support.list') }}"><i class="bigicon icon-phone"></i>Support</a></li>
		<li{% if section == 'profile' %} class="active"{% endif %}><a href="{{ url_for('profile_index') }}"><i class="bigicon icon-cog"></i>Settings</a></li>
		<li{% if section == 'invoice' %} class="active"{% endif %}><a href="{{ url_for('invoice.index') }}"><i class="bigicon icon-usd"></i>Invoices</a></li>
		{% if user.is_admin %}
		<li{% if section == 'admin' %} class="active"{% endif %}><a href="{{ url_for('profile.list') }}"><i class="bigicon icon-dashboard"></i>Admin</a></li>
		{% endif %}
		{% endif %}
		</ul>
		{% endblock %}
        </nav>

	{% block subnav %}{% endblock %}

	<section class="container-base container-fluid" id="{% block containertype %}container-base-type{% endblock %}">
		{% block content %}{% endblock %}
	</section>

	<div class="row-fluid">
          <div class='notifications top-right'></div>
          <div class='notifications bottom-right'></div>
          <div class='notifications top-left'></div>
          <div class='notifications bottom-left'></div>
	</div>

{% endblock body %}
