{% extends "base-empty.html" %}
{% block title %} Welcome {% endblock %}

{% block body %}

	{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert{% if category %} alert-{{ category }}{% endif %}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

	<header class="header">
		<div class="row">
			<div class="span3">
				<a href="/"><img src="/static/tl-logo.png" alt="TortoiseLabs" id="logo"></a>
			</div>
			<div class="menu span9 pull-right">
				<ul class="menu-list">
					{% block links %}
					{% if user %}
					<li class="menu-item">
						<a href="{{ url_for('dns.list') }}">My DNS Zones</a>
					</li>

					<li class="menu-item">
						<a href="/vps/list">My Servers</a>
					</li>

					<li class="menu-item">
						<a href="{{ url_for('support.list') }}">My Tickets</a>
					</li>

					<li class="menu-item">
						<a href="{{ url_for('profile_index') }}">My Account</a>
					</li>

					<li class="menu-item">
						<a href="{{ url_for('invoice.index') }}">My Invoices</a>
					</li>
					{% endif %}
					{% endblock %}
					<li class="menu-item login-item">
						{% if user %}
						<a class="btn btn-inverse btn-mini" href="{{ url_for('logout') }}">Logout ({{ user.username }})</a>
						{% else %}
						<a class="btn btn-inverse btn-mini" href="{{ url_for('login') }}">Login</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container-fluid">
	{% block content %}{% endblock %}
	</div>

{% endblock body %}
