{% extends "base-scaffolding.html" %}
{% block title %}My Account{% endblock %}
{% block content %}

<h2>
	<img class="gravatar" src="{{ user.email | gravatar(48) }}" alt="{{ user.username }}'s gravatar">
	{{ user.username }} &mdash; Account Settings
</h2>

<h3>Change Password</h3>

<form action="{{ url_for('.profile_change_pw') }}" method="POST">
	<div class="row-fluid">
		<div class="span12">
			<input type="password" placeholder="Old Password" class="span12" name="oldpass">
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<input type="password" placeholder="New Password" class="span12" name="newpass">
		</div>
	</div>
	<button class="pull-right btn btn-primary" type="submit">Change Password</button>
</form>

<div class="pushdown"></div>

<h3>Change E-Mail Address</h3>

<form action="{{ url_for('.profile_change_email') }}" method="POST">
	<p>
		It is important to keep your e-mail address up to date so that you can receive important notifications from us.
		Also, in the event that you need to recover your account password, the replacement password will be sent to the e-mail
		address on file for the account.
	</p>
	<div class="row-fluid">
		<div class="span12">
			<input type="text" placeholder="E-Mail Address" value="{{ user.email }}" name="new_email" class="span12">
		</div>
	</div>
	<button class="pull-right btn btn-primary" type="submit">Change E-Mail Address</button>
</form>

<h3>API Key</h3>

<p>
	<div class="pull-right">
		<a href="{{ url_for('.profile_new_key') }}" class="btn btn-primary">Change</a>
	</div>
	Your API key is presently: <code>{{ user.api_key }}</code>
</p>

{% endblock %}
