{% extends "base-scaffolding.html" %}
{% set section = 'profile' %}
{% block title %}My Account{% endblock %}
{% block head %}
	{{ super() }}
	<script src="/static/jquery.qrcode.min.js"></script>
{% endblock %}

{% block content %}

<h2>
	My Account
</h2>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>Contact Information</h3>
		<p>
			It is important to keep your contact information up to date so that you can receive important notifications from us.
			Also, in the event that you need to recover your account password, the replacement password will be sent to the e-mail
			address on file for the account.
		</p>
	</div>
	<div class="span9" style="margin-top: 1.5em">
		<form action="{{ url_for('.profile_change_email') }}" method="POST" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="new_email">Contact Name</label>
			<div class="controls">
				<input type="text" value="{{ user.contact_name | default("", True) }}" name="contact_name" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Organization</label>
			<div class="controls">
				<input type="text" value="{{ user.organization | default("", True) }}" name="organization" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Address 1</label>
			<div class="controls">
				<input type="text" value="{{ user.address1 | default("", True) }}" name="address1" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Address 2</label>
			<div class="controls">
				<input type="text" value="{{ user.address2 | default("", True) }}" name="address2" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">City</label>
			<div class="controls">
				<input type="text" value="{{ user.city | default("", True) }}" name="city" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">State / Province</label>
			<div class="controls">
				<input type="text" value="{{ user.state | default("", True) }}" name="state" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Postcode</label>
			<div class="controls">
				<input type="text" value="{{ user.zip | default("", True) }}" name="zip" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Country</label>
			<div class="controls">
				<input type="text" value="{{ user.country | default("", True) }}" name="country" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Email</label>
			<div class="controls">
				<input type="text" value="{{ user.email }}" name="new_email" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="new_email">Telephone</label>
			<div class="controls">
				<input type="text" value="{{ user.phone | default("", True) }}" name="phone" class="input-block-level">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-primary" type="submit">Update Profile</button>
			</div>
		</div>
		</form>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>Change Password</h3>
	</div>
	<div class="span9" style="margin-top: 1.5em">
	<form action="{{ url_for('.profile_change_pw') }}" method="POST">
		<div class="row-fluid">
			<div class="span12">
				<input type="password" placeholder="Old Password" class="input-block-level" name="oldpass">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<input type="password" placeholder="New Password" class="input-block-level" name="newpass">
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Change Password</button>
	</form>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>API Key</h3>
		<p>For more information on our API, see our <a href="http://wiki.tortois.es/index/API">wiki page</a>.</p>
	</div>
	<div class="span9" style="margin-top: 1.5em">
		<p>
			Your API key is presently: <code>{{ user.api_key }}</code>
		</p>
		<p>
			<a href="{{ url_for('.profile_new_key') }}" class="btn btn-primary">Change</a>
		</p>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>API Webhooks</h3>
		<p>Applications using our API can receive callback notifications for tasks that have been queued
		   to run asynchronously.  Notifications are sent when the queued work either begins or is completed.</p>
	</div>
	<div class="span9" style="margin-top: 1.5em">
		<form action="{{ url_for('.profile_webhook_uri') }}" method="POST">
		<div class="row-fluid">
			<div class="span12">
				<input type="text" placeholder="Callback URI" value="{% if user.job_webhook_uri %}{{ user.job_webhook_uri }}{% endif %}" name="webhook_uri" class="input-block-level">
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Set Callback URI</button>
		</form>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>Two-Factor Authentication</h3>
		<p>Two-Factor Authentication allows you to add an additional layer of protection to your account by
		   requiring submission of a proof of work using a pre-shared key in order to complete the login process.</p>
		<p>To use this feature, install an application such as <a href="">Google Authenticator</a>.</p>
	</div>
	<div class="span9" style="margin-top: 1.5em">
		<p>Your TOTP pre-shared secret is presently: <code>{{ user.totp_key }}</code></p>
		<div id="totp_qrcode" class="pushdown"></div>
		<script>
			$(document).ready(function () {
				$("#totp_qrcode").qrcode({
					width: 192,
					height: 192,
					text: "otpauth://totp/{{ user.username }}@manage.tortois.es?secret={{ user.totp_key }}",
				});
			});
		</script>
		<p>
			<a href="{{ url_for('.profile_new_totp_key') }}" class="btn btn-primary">Change</a>
			{% if not user.require_totp %}
			<a href="{{ url_for('.profile_totp_enable') }}" class="btn btn-success">Enable</a>
			{% else %}
			<a href="{{ url_for('.profile_totp_disable') }}" class="btn btn-warning">Disable</a>
			{% endif %}
		</p>
	</div>
</div>

<div class="row-fluid pushdown">
	<div class="span3 text-right">
		<h3>Login Notice Preferences</h3>
		<p>Upon successful or failed logins, we can send you notifications letting you know if your account
			has been accessed.</p>
	</div>
	<div class="span9" style="margin-top: 1.5em">
		<form action="{{ url_for('.profile_login_preferences') }}" method="POST">
		<div class="row-fluid">
			<div class="span12" style="padding-bottom: 7px;">
				<label for="notify-success" style="display: inline;">Successful log-in</label>
				<input id="notify-success" type="checkbox" {% if user.login_success_notice %}checked{% endif %} name="success" value="1">
				<br/>
				<label for="notify-failed" style="display: inline;">Failed log-in</label>
				<input id="notify-failed" type="checkbox" {% if user.login_failed_notice %}checked{% endif %} name="fail" value="1">
			</div>
		</div>
		<button class="btn btn-primary" type="submit">Save Preferences</button>
		</form>
	</div>
</div>

{% endblock %}
