{% extends "base-scaffolding.html" %}
{% block title %}DNS Zones{% endblock %}

{% block content %}

<h2>DNS Zones <a href="{{ url_for('.new_domain') }}" class="btn btn-success pull-right">New Zone</a></h2>

<table class="table table-striped">
	<tr>
		<th>Zone</th>
		<th>
			<span class="pull-right">Options</span>
		</th>
	</tr>
	{% for zone in zones %}
	<tr>
		<td>{{ zone.name }}</td>
		<td>
			<div class="btn-group pull-right">
				<a href="{{ url_for('.view_domain', zone_id=zone.id) }}" class="btn btn-primary">View</a>
				<a href="{{ url_for('.delete_domain', zone_id=zone.id) }}" class="btn btn-danger">Delete</a>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
