{% extends "support/ticketbase.html" %}
{% block title %}Tickets{% endblock %}

{% block headerbarcontent %}
#{{ ticket.id }} - {{ ticket.subject }}
{% endblock %}

{% block component %}
<table class="table table-striped">
	<tr>
		<th>Status</th>
		<th>Opened</th>
		<th>Closed</th>
		<th>
			<span class="pull-right">Department</span>
		</th>
	</tr>
	<tr>
		<td class="span1">{{ "OPEN" if ticket.is_open else "CLOSED" }}</td>
		<td class="span3">{{ ticket.opened_at | time_ago }}</td>
		<td class="span3">{{ ticket.closed_at | time_ago if ticket.closed_at != None else "" }}</td>
		<td class="span5">
			<span class="pull-right">{{ ticket.department }}</span>
		</td>
	</tr>
</table>

<h3>Replies</h3>

{% for reply in ticket.replies %}
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<img src="{{ reply.from_user.email | gravatar(64) }}" alt="gravatar" class="gravatar"><br>
			<strong>{{ reply.from_user.username }}</strong><br>
			{{ reply.replied_at | time_ago }}
		</div>
	</div>
	<div class="span10">
		{{ reply.message | breakln | urlize }}
	</div>
</div>
{% endfor %}

<form method="POST">
<div class="row-fluid ticket-row">
	<div class="span2">
		<div class="pull-right ticket-reply-source">
			<img src="{{ user.email | gravatar(64) }}" alt="gravatar" class="gravatar"><br>
			<strong>{{ user.username }}</strong>
		</div>
	</div>
	<div class="span10">
		<textarea name="message" placeholder="Reply here" class="ticket-reply-textarea span12"></textarea><br>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">Add Reply</button>
			<a href="{{ url_for('.close', ticket_id=ticket.id) }}" class="btn">Close Ticket</a>
		</div>
	</div>
</div>
</form>

{% endblock %}
