{% extends "base-scaffolding.html" %}
{% block title %}Tickets{% endblock %}
{% set section = 'Support' %}

{% block containertype %}{% if user.is_admin %}container-subnav-type{% else %}{{ super() }}{% endif %}{% endblock %}

{% block subnav %}
{% if user.is_admin %}
<nav id="subnav">
	<ul class="nav nav-list">
		<li><a href="{{ url_for('.list_open') }}"><i class="icon-lock"></i> Open Tickets</a></li>
		<li><a href="{{ url_for('.list_closed') }}"><i class="icon-lock"></i> Closed Tickets</a></li>
		<li><a href="{{ url_for('.list_all') }}"><i class="icon-lock"></i> View All Tickets</a></li>
	</ul>
</nav>
{% endif %}
{% endblock %}

{% block content %}
<h2>
	Support

	<span class="pull-right">
		<a href="{{ url_for('.new') }}" class="btn btn-primary">
			<i class="icon-bullhorn"></i> Open Ticket
		</a>
		<a href="{{ url_for('status.list') }}" class="btn btn-success">
			<i class="icon-sitemap"></i> Network Status
		</a>
        </span>
</h2>
{% endblock %}
