{% extends "support/ticketbase.html" %}
{% block title %}Tickets{% endblock %}

{% block content %}
{{ super() }}

<div class="pushdown"></div>

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Subject</th>
		<th>Creator</th>
		<th>Status</th>
		<th>
			<span class="pull-right">Options</span>
		</th>
	</tr>
	{% for ticket in tickets %}
	<tr>
		<td>{{ ticket.id }}</td>
		<td>{{ ticket.subject }}</td>
		<td>{{ ticket.user.username }}</td>
		<td>
		{% if ticket.is_open %}
			 <span class="label label-warning">Open</span>
		{% else %}
			 <span class="label label-success">Closed</span>
		{% endif %}
		</td>
		<td>
			<div class="pull-right">
				<a href="{{ url_for('.view', ticket_id=ticket.id) }}" class="btn btn-primary">View</a>
				<a href="{{ url_for('.close', ticket_id=ticket.id) }}" class="btn">Close</a>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
