{% extends "support/ticketbase.html" %}
{% block title %}Tickets{% endblock %}

{% block headerbarcontent %}
#{{ ticket.id }} - {{ ticket.subject }}
<span class="pull-right">
	<a href="#reply" class="btn btn-warning"><i class="icon-pencil"></i> Reply</a>
</span>
{% endblock %}

{% block component %}
<table class="table table-striped">
	<tr>
		<th>Status</th>
		<th>Opened</th>
		<th>Closed</th>
		<th>
			<span class="pull-right">Department</span>
		</th>
	</tr>
	<tr>
		<td class="span1">{{ "OPEN" if ticket.is_open else "CLOSED" }}</td>
		<td class="span3">{{ ticket.opened_at | time_ago }}</td>
		<td class="span3">{{ ticket.closed_at | time_ago if ticket.closed_at != None else "" }}</td>
		<td class="span5">
			<span class="pull-right">{{ ticket.department }}</span>
		</td>
	</tr>
</table>

{% for reply in ticket.replies %}
<div class="pushdown">
<div class="panel panel-{{ "danger" if reply.from_user.is_admin else "primary" }}">
	<div class="panel-heading">
		<span class="pull-right panel-btn">
			<a href="#" class="ticket-btn btn btn-danger">{{ reply.replied_at | time_ago }}</a>
		</span>
		<h4>
			<img src="{{ reply.from_user.email | gravatar(32) }}" alt="gravatar" class="gravatar">
			{{ reply.from_user.contact_name | default(reply.from_user.username, true) }}
		</h4>
	</div>
	<div class="panel-body pushdown">
		{{ reply.message | breakln | urlize }}
	</div>
</div>
</div>
{% endfor %}

<a name="reply"></a>

<form method="POST">
{% include "inc-token.html" %}
<div class="panel panel-{{ "danger" if user.is_admin else "primary" }}">
	<div class="panel-heading">
		<span class="pull-right panel-btn">
			<button type="submit" class="ticket-btn btn btn-primary"><i class="icon-pencil"></i> Reply</button>
			<a href="{{ url_for('.close', ticket_id=ticket.id) }}" class="ticket-btn btn btn-primary"><i class="icon-remove"></i> Close</a>
		</span>
		<h4>
			<img src="{{ user.email | gravatar(32) }}" alt="gravatar" class="gravatar">
			{{ user.contact_name | default(user.username, true) }}
		</h4>
	</div>
	<div class="panel-body">
		<textarea name="message" placeholder="Reply here" class="ticket-reply-textarea span12"></textarea><br>
	</div>
</div>
</form>

{% endblock %}
