{% extends "support/ticketbase.html" %}
{% block title %}Tickets{% endblock %}

{% block component %}
<table id="ticketlist" class="table table-striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Subject</th>
		<th>Creator</th>
		<th>Status</th>
		<th>Last Reply</th>
		<th>
			<span class="pull-right">Options</span>
		</th>
	</tr>
	</thead>
	<tbody>
	{% for ticket in tickets %}
	<tr>
		<td>{{ ticket.id }}</td>
		<td>{{ ticket.subject }}</td>
		<td>{{ ticket.user.username }}</td>
		<td>
		{% if ticket.is_open %}
			 <span class="label label-warning">Open</span>
		{% else %}
			 <span class="label label-success">Closed</span>
		{% endif %}
		</td>
		<td>{{ ticket.replies[-1].replied_at }}</td>
		<td>
			<div class="pull-right">
				<a href="{{ url_for('.view', ticket_id=ticket.id) }}" class="btn btn-primary">View</a>
				<a href="{{ url_for('.close', ticket_id=ticket.id) }}" class="btn">Close</a>
			</div>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<script>
$(document).ready(function() {
    table = $('#ticketlist').dataTable({
        "sDom": "t<'row'<'span12 text-center'p>>",
        "sPaginationType": "bootstrap",
        "iDisplayLength": 15,
        "aoColumns": [
            {"bSortable": true},
            {"bSortable": false},
            {"bSortable": true},
            {"bSortable": true},
            {"bVisible": false},
            {"bSortable": false},
        ],
    });

    table.fnSort([[3, 'desc'], [4, 'asc']]);
});
</script>

{% endblock %}
