html, body {
	font-family: "Open Sans", "Helvetica Niue", sans-serif;
}

.header {
	background: #003255 url('/static/dark-noise.png');
	padding-top: 14px;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 100;
	color: #999;
	height: 75px;
	clear: both;
}

.header .span3, .header .span9 {
	min-height: 70px;
}

h1, h2, h3, h4 {
	font-family: 'Signika Negative', sans-serif;
}

.btn {
	font-family: 'Signika Negative', sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
}

.menu-list {
	float: right;
	margin-right: 2em;
	height: 100%;
	min-height: 70px;
}

.loginbox {
	float: right;
	margin-top: 0.75em;
	margin-right: -1em;
}

@media only screen and (max-width: 480px) {
	.loginbox {
		display: none;
	}

	.header {
		position: fixed;
		top: 0;
		height: 40px;
	}

	.header .span9 {
		display: none;
	}

	#logo {
		height: 40px;
		margin-left: 1em;
	}
}

.loginavatar {
	border-radius: 5px;
	background: #eee;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
	text-decoration: none;
	outline: none;
}

.logincaret, .dropdown .logincaret {
	border-top: 6px solid #aaa;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-top: 18px;
}

.logincaret:hover, .dropdown .logincaret:hover {
	border-top: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	margin-top: 18px;
}

.menu-item {
	display: block;
	float: left;
	padding: 0;
	padding-right: 1em;
	line-height: 60px;
	vertical-align: middle;
	height: 100%;
	min-height: 75px;
}

.gravatar {
	border-radius: 5px;
	box-shadow: 0.5px 0.5px #999;
}

.table tr td {
	vertical-align: middle;
}

.ticket-reply-source {
	text-align: right;
}

.ticket-reply-textarea {
	height: 7em;
}

.ticket-row {
	margin-bottom: 1em;
}

#logo {
	margin-top: -0.5em;
}

.pushdown {
	padding-bottom: 1em;
}

.box {
	background: #fff url('/static/gray-noise.png');
	border: 1px #ddd solid;
	border-radius: 3px;
	margin-bottom: 1em;
	padding: 1em;
	height: auto;
}

.box h4 {
	margin: -0.25em;
}

.alert {
	margin: 0;
}

.alignfix {
	margin-left: -0.531915%;
}

#sidebar {
	position: fixed;
	height: 100% !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: #ccc url('/static/gray-noise.png');
	width: 85px;
}

.container-base {
	margin-top: 95px;
	width: auto;
}

#container-base-type {
	margin-left: 85px;
}

#container-subnav-type {
	margin-left: 335px;
}

#subnav {
	position: fixed;
	height: 100% !important;
	top: 0;
	left: 85px;
	margin: 0;
	padding: 0;
	z-index: 2;
	background: #bbb url('/static/gray-noise.png');
	width: 250px;
	font-size: 75%;
}

#subnav a:hover, #subnav li:hover,
#sidebar a:hover, #sidebar li:hover {
	background: none;
}

#sidebar > ul, #subnav > ul {
	margin-top: 95px;
	height: 100% !important;
	overflow-y: auto;
}

#sidebar .nav li {
	text-align: center;
}

.bigicon {
	font-size: 450%;
}

@media only screen and (max-width: 480px) {
	#sidebar, #subnav {
		position: relative;
		width: auto;
		height: auto !inherit;
		margin-left: auto !inherit;
		left: auto;
		top: auto;
		margin: none;
		padding: none;
		clear: none;
	}

	#sidebar > ul, #subnav > ul {
		margin-top: 0;
		height: auto;
		overflow-y: hidden;
	}

	#sidebar > ul {
		margin-top: 53px;
	}

	#subnav > ul {
		padding-top: 1em;
	}

	#sidebar .nav li {
		text-align: left;
	}

	.container-base {
		margin-top: auto;
	}

	#container-base-type, #container-subnav-type {
		margin-left: auto;
	}

	#sidebar .bigicon, #subnav .bigicon {
		display: none;
		font-size: 150%;
		width: 2em;
	}
}

.contentfix {
	margin-top: 1em;
	clear: left;
}

.service-hdr {
	border-bottom: 1px #ccc solid;
}

.specification {
	font-size: 17.5px;
	color: #888;
}

.minigraph {
	height: 16em;
}

.btn-group .btn, .btn,
.btn-group > .btn:first-child,
.btn-group > .btn:last-child {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

.btn, .btn-danger, .btn-warning, .btn-primary, .btn-success {
	background-image: none;
}

.largeicon {
	font-size: 2vw;
}

.btn-icon {
	font-size: 0.75vw;
	overflow: hidden;
}

@media only screen and (max-width: 480px) {
	.largeicon {
		font-size: 1em;
	}

	.btn-icon {
		font-size: 1em;
		text-align: left;
		padding-left: 1em;
	}

	.btn-icon br {
		display: none;
	}
}

#sidebar .nav-list li a {
	font-size: 75%;
}

#sidebar .nav-list li a, #subnav .nav-list li a {
	color: #555;
	text-shadow: none;
}

#subnav .nav-list > .btn {
	color: #fff;
}

#sidebar .nav-list li a:hover, #sidebar .nav-list li a:focus,
#subnav .nav-list li a:hover, #subnav .nav-list li a:focus {
	background: transparent;
	color: #666;
	text-shadow: none;
}

#sidebar .nav-list .active > a,
#subnav .nav-list .active > a,
#sidebar .nav-list .active > a:hover, #sidebar .nav-list .active > a:focus,
#subnav .nav-list .active > a:hover, #subnav .nav-list .active > a:focus {
	background: transparent;
	color: #3587ad;
	text-shadow: none;
}

.modal form {
	margin: 0;
}
